.git
.github
.idea
.vscode
.DS_Store
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/.venv
**/node_modules
**/dist
**/.pytest_cache
**/.ruff_cache
**/__pycache__
**/*.py[cod]
**/coverage
**/.coverage
**/logs
*.log

